
#Python
pycache/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.egg-info/
dist/
build/

#Node.js
node_modules/
.next/
out/
npm-debug.log
yarn-error.log
.env.local

#Docker
*.dockerignore

#VSCode
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/launch.json

#Misc
*.log
.DS_Store
*.swp
*.swo
